@charset "utf-8";
/* CSS Document */

* {margin:0;padding:0}

html {min-width:920px}
ul, ol {
	list-style: none;
}

.floater{float:left;}
.text{ font-size:9pt; font-family:"Arial Black", Gadget, sans-serif; color:#676767; padding:0px 0px 0px 12px}
.text a{color:#919191; text-decoration:none}
.menutext{font-size:9pt; font-family:"Arial Black", Gadget, sans-serif; color:#F7F7F7;}
.hideover{overflow:hidden; height:auto;}
.container {width:1000px; margin:auto; height:auto; overflow:hidden;}
.longdiv{ padding:8px;}
#header{ padding:4px 0px 0px 0px;}
#header .topheader{ padding:2px}
#header .topheader .topheaderlogo{ width:45%}
#header .topheader .topheaderlogo .schoologo{ height:110px; width:80px;}
#header .topheader .topheaderlogo .schooltxt{ margin-top:10%; color:#FFF; margin-left:5%}
#header .menuheader{ padding:0px; background:#004080; margin-top:1%; border-radius:3px;}
#header .menuheader ul{ padding:0px 0px 0px 10px;}
#header .menuheader ul li{ float:left}
#header .menuheader ul li a{ padding:0px; float:left; text-decoration:none}
#header .menuheader ul li a:hover{ background:#002040;}


#body{ margin-top:1%; background:#FFF}
#body .topbody{ padding:8px; background:url(../images/bg.png) repeat; color:#F1F1F1}
#body .midbody{ padding:1px}
#body .midbody .midleft{ padding:0px; width:30%; height:100%; background:#F2F2F2}
#body .midbody .midleft .topmidleft{ padding:4px 4px 4px 15px; background:url(../images/item_th_bg.png) repeat; font-size:9pt; font-family:"Arial Black", Gadget, sans-serif; font-weight:bold; color:#676767 }
#body .midbody .midleft .menumidleft{background:#F2F2F2}
#body .midbody .midleft .menumidleft ul{ padding:1px;}
#body .midbody .midleft .menumidleft ul li{ padding:8px 8px 8px 15px;}
#body .midbody .midleft .menumidleft ul li a{ font-size:7pt;}
#body .midbody .midleft .menumidleft ul li a:hover{ color:#FAAE5A;}
#body .midbody .midrit{ padding:8px 8px 8px 20px; width:65%}
.pullclass{ border-radius:2px; padding:8px; border:1px #C3C3C3 solid;}


